@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary_color: #4daf54;
}
body {
  height: 100hv;
  background: linear-gradient(to right, #4daf54, #3d8880);
}

.Card {
  height: 400px;
  width: 310px;
  margin: 120px auto;
  background-color: #272d40;
  border-radius: 5%;
  padding: 20px;
  color: white;
  font-size: 20px;
  position: relative;
}
.Card_heart,
.Card_cart {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 25px;
  cursor: pointer;
}

.Card_cart {
  left: unset;
  right: 20px;
}
.Card_img {
  width: 90%;
  transition: 0.5s;
}

.Card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Card_Title,
.Card_price {
  /* Đặt biến  */
  color: var(--primary_color);
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  font-family: poppins;
  transition: 0.5s;
}
.Card_price {
  color: unset;
  margin-top: 5px;
}

.Card_size,
.Card_Color {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.Card_size h3,
.Card_Color h3 {
  margin-right: 10px;
}
.Card_size span {
  padding: 1px 9px;
  background: aliceblue;
  color: black;
  border-radius: 7px;
  margin: 0px 5px;
}
.Card_Color span {
  width: 16px;
  height: 15px;
  border-radius: 50%;
  margin: 0 7px;
}
.Card_color_Green {
  background: green;
}

.Card_color_Red {
  background: red;
}

.Card_color_Black {
  background: black;
}

.Card_action button {
  background: var(--primary_color);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 6px 12px;
  margin-top: 7px;
  cursor: pointer;
  margin-right: 10px;
}

.Card_action button:hover {
  transform: scale(0.9);
  transition: 0.5s;
}

.Card:hover .Card_img {
  transform: translateY(-70px) rotate(-17deg);
}
.Card:hover .Card_Title {
  transform: translate(-20px, -60px);
}
.Card:hover .Card_price {
  transform: translate(-110px, -50px);
}
.Card_size,
.Card_Color,
.Card_action {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}
.Card_size {
  margin-top: 150px;
}

.Card:hover .Card_size,
.Card:hover .Card_Color,
.Card:hover .Card_action {
  visibility: visible;
  opacity: 100;
  transition: 0.4s;
  transition-delay: 0.2s;
}

.Card:hover .Card_size {
  margin-top: -10px;
}
